solutions/ALMLab/Workflows/AreaManagerApproval-A90A5A52-A63F-EF11-8409-000D3A649584.json
{
  "properties": {
    "connectionReferences": {
      "shared_approvals": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bpf_sharedapprovals_6ba93"
        },
        "api": {
          "name": "shared_approvals"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bpf_sharedcommondataserviceforapps_6dfad"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted_in_Machine_Registration_Info": {
          "metadata": {
            "operationMetadataId": "fb5f486f-2aea-4d75-9ea2-5d6e0157427d"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "bpf_machineregistrationinfo",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Start_and_wait_for_an_approval": {
          "runAfter": {
            "Get_a_row_by_ID_from_Account": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7a084b2f-4db0-4f05-80b1-89a3dfdbc084"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_approvals",
              "operationId": "StartAndWaitForAnApproval",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
            },
            "parameters": {
              "approvalType": "Basic",
              "WebhookApprovalCreationInput/title": "Testing-Machine Registration Approval",
              "WebhookApprovalCreationInput/assignedTo": "@{outputs('Get_a_row_by_ID_from_Account')?['body/emailaddress1']};",
              "WebhookApprovalCreationInput/enableNotifications": true,
              "WebhookApprovalCreationInput/enableReassignment": true
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {
            "Update_a_row_of_Serial_No": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "214de3b3-80ff-423c-b058-4787cafdda1b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "new_serialnos",
                  "recordId": "@triggerOutputs()?['body/_bpf_serialnoid_value']",
                  "item/bpf_machineregistered": true,
                  "item/bpf_standardwarrantyexpirydate": "@triggerOutputs()?['body/bpf_salesregistrationdate']",
                  "item/statuscode": 922020001
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Start_and_wait_for_an_approval": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Do_not_update_a_row_of_Serial_No": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "c95addf4-a3a1-49da-bfda-8114a0f0df9b"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "UpdateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "new_serialnos",
                    "recordId": "@triggerOutputs()?['body/_bpf_serialnoid_value']",
                    "item/bpf_machineregistered": false,
                    "item/statuscode": 922020000
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@outputs('Start_and_wait_for_an_approval')?['body/outcome']",
              "Approve"
            ]
          },
          "metadata": {
            "operationMetadataId": "a32aac63-ed6a-4248-95f9-7261e33cc41f"
          },
          "type": "If"
        },
        "Get_a_row_by_ID_from_Serial_No": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "41a4105e-8767-4b92-9ee5-1af37540c7e5"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "new_serialnos",
              "recordId": "@triggerOutputs()?['body/_bpf_serialnoid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_a_row_by_ID_from_Account": {
          "runAfter": {
            "Get_a_row_by_ID_from_Serial_No": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "50c81e80-15c4-4129-b6fa-a186b2eaa25e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "accounts",
              "recordId": "@{outputs('Get_a_row_by_ID_from_Serial_No')?['body/_cdss_dealerid_value']}@{outputs('Get_a_row_by_ID_from_Serial_No')?['body/_new_dealerid_value']}"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}